.content {
    width: 900px;
    margin: auto;
  }

.headline {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.centerSimple {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 140px;
    border-radius: 3px;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}